body {
  margin: 0;
}

.cars {
  font-family: 'Lucida Sans', Verdana, Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

.cars caption {
  text-align: left;
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

/* 偶数行显示不同的背景颜色 */
.cars tr:nth-child(even) {
  background-color: #eee;
}

.cars caption,
.cars th,
.cars td {
  text-align: left;
  padding: 0 0.5em;
  line-height: 2;
}

.cars thead {
  border-bottom: 2px solid #000;
}

.cars tbody th {
  font-weight: normal;
}

@media only screen and (max-width: 760px) {
  .cars {
    display: block;
  }
  .cars thead {
    display: none;
  }
  .cars tr {
    border-bottom: 1px solid #000;
  }
  .cars td,
  .cars th {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .cars tbody th {
    font-weight: 600;
    border-bottom: 2px solid #000;
    padding-top: 10px;
  }
  .cars td::before {
    width: 40%;
    display: inline-block;
    font-style: italic;
    /* 获取元素data-label属性的值作为内容 */
    content: attr(data-label);
  }
}
