fieldset {
  border: 0;
  padding: 0.01px 0 0;
  margin: 0;
  min-width: 0;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.fieldset-wrapper {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

:root .fieldset-wrapper {
  border: 0;
}

legend {
  color: #777;
  /* legend元素在不同浏览器应用外边距效果不一样，此处只能使用内边距 */
  padding: 0 0 0.5em 0;
  font-weight: bold;
  /* 让IE必要时包含多行文本 */
  display: table;
}

input {
  /* 让表单控件继承其它部分的字体属性 */
  font: inherit;
}

.field-text {
  max-width: 20em;
}

.field-text label {
  display: block;
  cursor: pointer;
}

.field-text label,
.field-text input,
.field-prefixed {
  width: 100%;
  box-sizing: border-box;
}

.field-text input {
  padding: 0.375em 0.3125em 0.3125em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  -webkit-appearance: none;
  appearance: none;
}

.field-text input:focus {
  box-shadow: 0 0 0.5em rgba(93, 162, 248, 0.5);
  border-color: #5da2f8;
  outline: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 0.25em;
  font-size: 1em;
  background-color: #173b6d;
  background-image: linear-gradient(to bottom, #1a4a8e, #173b6d);
  box-shadow: 0 0.25em 0 rgba(23, 59, 109, 0.3),
    inset 0 1px 0 rgba(0, 0, 0, 0.3);
  outline: none;
}

button:focus {
  background-color: #2158a9;
  background-image: linear-gradient(to bottom, #2063c0, #1d4d90);
  box-shadow: 0 0.25em 0 rgba(23, 59, 109, 0.3),
    inset 0 1px 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 35em) {
  .flexbox .field-text {
    display: flex;
    max-width: 28em;
  }
  .flexbox .field-text label {
    flex: 0 0 8em;
    display: flex;
    align-items: center;
  }
}

.field-prefix {
  display: inline-block;
  padding: 0.375em 0.375em 0.3125em 0.375em;
  background-color: #f5f8f8;
  color: #666f77;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.25em;
}

.field-prefixed input {
  max-width: 12em;
}

.flexbox .field-prefixed {
  display: flex;
}

.flexbox .field-prefix {
  border-right: 0;
  border-radius: 0.25em 0 0 0.25em;
  display: flex;
  align-items: center;
}

.flexbox .field-prefixed input {
  max-width: 100%;
  border-radius: 0 0.25em 0.25em 0;
}

.checkboxes {
  list-style: none;
  padding: 0;
  column-width: 10em;
}

.checkboxes li {
  min-height: 1.5em;
  margin-bottom: 0.5em;
}

/* 以避免使用多列错误
  li:not(*:root) 只有 WebKit/Blink 识别
*/
.checkboxes li:not(*:root) {
  width: 100%;
  display: inline-block;
}

:root input[type='checkbox'] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

:root input[type='checkbox'] + label {
  line-height: 1.5;
  color: #333;
  padding-left: 1.5em;
  background-position: 0.125em 36%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

/* 不支持svg浏览器所显示的复选框 */
:root input[type='checkbox'] + label {
  background-image: url(../images/checkbox-unchecked.png);
}
:root input[type='checkbox']:checked + label {
  background-image: url(../images/checkbox-checked.png);
}
:root input[type='checkbox']:focus + label {
  background-image: url(../images/checkbox-unchecked-focus.png);
}
:root input[type='checkbox']:focus:checked + label {
  background-image: url(../images/checkbox-checked-focus.png);
}

/* 支持svg浏览器所显示的复选框 */
:root.svgasimg input[type='checkbox'] + label {
  background-image: url(../images/checkbox-unchecked.svg);
}

:root.svgasimg input[type='checkbox']:checked + label {
  background-image: url(../images/checkbox-checked.svg);
}

:root.svgasimg input[type='checkbox']:focus + label {
  background-image: url(../images/checkbox-unchecked-focus.svg);
}

:root.svgasimg input[type='checkbox']:focus:checked + label {
  background-image: url(../images/checkbox-checked-focus.svg);
}
