@function row-cols-width($column) {
  // percentage() 函数可以把小数转换为百分比
  @return percentage(1 / $column);
}

@for $i from 1 through 6 {
  .row-cols-#{$i} > * {
    width: row-cols-width($i);
  }
}

/* 
  定义线性渐变
  @param $direction 方向
  @param $gradients 颜色过渡值的列表
 */
@function background-linear-gradient(
  $direction,
  $start-color,
  $end-color: blue
) {
  @return linear-gradient($direction, $start-color, $end-color);
}

// 正常传参
body {
  background-image: background-linear-gradient(to right, blue, green);
}

// 省略默认值
body {
  background-image: background-linear-gradient(to right, red);
}

// 按照key进行传参
body {
  background-image: background-linear-gradient(
    $start-color: red,
    $direction: to right
  );
}

/*
  函数接收任意参数
*/
@function background-linear-gradient($direction, $gradients...) {
  @return linear-gradient($direction, $gradients);
}

body {
  background-image: background-linear-gradient(to right, red, green, blue);
}

$widths: 50px, 30px, 80px;

.top {
  width: min(50px, 30px, 80px);
  // width: min($widths); // Error: Value 50px, 30px, 80px can't be used in a calculation.

  // 需要使用任意参数的写法
  width: min($widths...);
}
